.logo {
    animation: rotate-logo infinite 10s ease;
    transition: rotate 0.5s ease-in-out;
}

.logo:hover {
    filter: grayscale(0%);
    rotate: y 90deg;
    animation: rotate-logo infinite 2s ease;
    filter: drop-shadow(10px 10px 40px rgb(243, 243, 243));
}

@keyframes rotate-logo {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(361deg);
    }
}
